﻿<div class="modal-container" ng-class="{ show: modal.visible, hide: !modal.visible }">
    <div class="overlay" ng-class="{ showmodal: modal.visible, hidemodal: !modal.visible }"></div>
    <div class="content" ng-class="{ showmodal: modal.visible, hidemodal: !modal.visible }">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ modal.title }}</h4>
            </div>
            <div class="panel-body">
                <p>{{ modal.message }}</p>
            </div>
            <div class="panel-footer">
                <div class="input-group button-row">
                    <button ng-class="{ show: modal.ok, hide: !modal.ok }" ng-click="modal.closeModal(modal.OK)">OK</button>
                    <button ng-class="{ show: modal.cancel, hide: !modal.cancel }" ng-click="modal.closeModal(modal.CANCEL)">Cancel</button>
                    <button ng-class="{ show: modal.yes, hide: !modal.yes }" ng-click="modal.closeModal(modal.YES)">Yes</button>
                    <button ng-class="{ show: modal.no, hide: !modal.no }" ng-click="modal.closeModal(modal.NO)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>