﻿body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.input-lg + label {
    height: 50%;
}

.input-lg.checkbox {
    width: 25px;
}

#content {
    background: #FFF;
}

#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #E31937;
    cursor: pointer;
    color: #FFF;
    z-index: 100;
    height: 40px;
}

    #toolbar .toolbaricon {
        margin-right: 5px;
    }

.button-row > button {
    float: left;
}

    .button-row > button + button {
        margin-left: 10px;
    }

.snap-drawer {
    /*background: #A5ACB0;*/
    background: #FFF;
    padding-top: 50px;
}

#main-container {
    position: relative;
    height: 100%;
    padding-top: 40px;
    overflow-y: auto;
}

.view {
    position: absolute;
    width: 100%;
}

    .view.ng-enter,
    .view.ng-leave {
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
    }

    .view.ng-enter {
        transform: translate(100%);
        -webkit-transform: translate(100%);
    }

    .view.ng-enter-active {
        transform: translate(0%);
        -webkit-transform: translate(0%);
    }

    .view.ng-leave {
        transform: translate(0%);
        -webkit-transform: translate(0%);
    }

    .view.ng-leave-active {
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
    }

.modal-container {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    transition-delay: 1s;
}

    .modal-container > div.overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 201;
        background-color: #000;
        -webkit-transition: opacity 300ms ease-in-out;
        -moz-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
    }

        .modal-container > div.overlay.hidemodal {
            opacity: 0;
        }

        .modal-container > div.overlay.showmodal {
            opacity: 0.5;
        }

    .modal-container > div.content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 400;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

        .modal-container > div.content.showmodal,
        .modal-container > div.content.hidemodal {
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
        }

        .modal-container > div.content.showmodal {
            -webkit-transform: translateY(50%);
            transform: translateY(50%);
        }

        .modal-container > div.content.hidemodal {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
